[github]
    user = mjawili
[user]
    name = Mary Ann Jawili
    email = maryann@codeed.org
[color]
    branch = auto
    status = auto
    diff = auto
    ui = true
[push]
    default = current
[pull]
    default = current
[alias]
    co = checkout
    ps = push origin HEAD:refs/for/master
[core]
    editor = emacs
    autocrlf = input
[branch]
    autosetupmerge = true